body {
  background-color:#b9d7ea;;
 }

hr {
  border-color: grey;
  border-style: dotted none none;
  width: 7%;
  border-width: 8px;
}

h1 {
  color: #0d7377;
}

h3 {
  color: #0d7377;
  text-align: center;
}

p{
  text-align: center;
}
table{
  margin: auto;
}
li{
  text-align: center;
  margin-left: auto;
  margin-right: 40px;
}
ol{
  text-align: center;
  list-style-position: inside;
}
ul{
  list-style-position: inside;
}

form{
  text-align: center;
}
